# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
__pycache__/
staticfiles/
media/
passport_*
passport_oldi.jpg
passport_orqa.jpg

# Virtual Environment
venv/
.env

# Shaxsiy ma'lumotlar
muhim_malumotlar/

# IDE / Editor
.vscode/
.idea/
*.swp

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Pytest and Coverage
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# Other
.DS_Store
debug.log
passport_oldi.jpg
passport_orqa.jpg
muhim_malumotlar/
